@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,600&display=swap');
:root{
  --font-family-main: 'Open Sans', sans-serif;
  --main-font: 14px;
  --secondray-font: 16px;
  --third-font: 18px;
  --forth-font: 24px;
  --fifth-font: 20px;
  --main-header-font: 1.75em;
  --font-stretch-normal: normal;
  --font-stretch-condensed: condensed;
  --font-weight-bold: bold;
  --font-weight-condensed: 500;
  --font-weight-light: 300;

  --color-main-005: #f2f2f2;
  --color-main-010: #e5e5e5;
  --color-main-020: #ccc;
  --color-main-040: #999;
  --color-main-060: #666;
  --color-main-080: #333;
  --primary-color: #fff;
  --secondray-color: #000;
  --third-color: #B80D1A;
  --forth-color: #810000;
  

  --primary-font-color: #222;
  --secondray-font-color: #b2b2b2;
  --third-font-color: #B80D1A;
  --forth-font-color: #eeee;
  --main-font-color: #810000;

  --primary-btn-color: #fff;
  --secondray-btn-color: #555;
  --third-btn-color: #B80D1A;
  --forth-btn-color: #810000;

  --spacing-01: 6px;
  --spacing-02: 8px;
  --spacing-03: 10px;
  --spacing-04: 16px;
  --spacing-05: 20px;
  --spacing-06: 24px;
  --spacing-07: 32px;
  --spacing-08: 40px;
  --spacing-09: 48px;
  --spacing-10: 56px;
  --spacing-11: 64px;
  --spacing-12: 72px;
  --spacing-13: 80px;
  --spacing-14: 96px;
  --spacing-15: 112px;
  --spacing-16: 128px;
  --spacing-17: 144px;
  --grid-spacer-48: 60px;
  --grid-spacer-64: 80px;
  --grid-spacer-104: 80px;
  --grid-spacer-144: 60px;
  --grid-spacer-200: 80px;
  --grid-spacer-264: 80px;
  --grid-spacing-01: 60px;
  --grid-spacing-02: 80px;
  --grid-spacing-03: 80px;
  --grid-spacing-04: 60px;
  --grid-spacing-05: 80px;
  --grid-spacing-06: 80px;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,
body {
  position: relative;
  height: 100%;
}

li{
    list-style: none;
}

body {
  background: var(--primary-color);
  font-family: var(--font-family-main);
}

.section-title{
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-size: 30px;
    text-transform: uppercase;
    text-align: left;
    justify-content: left;
    margin-left: 15px;
    font-weight: 400;
    border-bottom: 1px solid #000;
    width: 31%;
  }

/* navbar start */

.main-wrapper img{
    width: 100%;
    display: block;
}
.main-wrapper a{
  /* color: #fff; */
  color: #000;
  text-decoration: none;
}
.main-wrapper ul li{
  list-style-type: none;
}
.navbar{
  background: #fff;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 999;
}
.navbar:hover{
  background-color: #fff;
  transition: .5s;
}
.navbar:hover a{
  color: #000;
}

.navbar.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}
/* .navbar.scrolled a{
  color: #000;
} */

.brand-and-icon{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
.navbar-brand{
  font-size: 1.8rem;
  letter-spacing: 3px;
  font-weight: 700;
  display: none;
}
.brand-and-icon span {
  font-size: 35px;
  color: var(--forth-color);
}
.brand-logo{
  height: 60px;
}
.brand-logo-2{
  width: 170px !important;
  height: 70px;
}
.navbar-toggler{
  display: block;
  border: none;
  background: transparent;
  font-size: 1.8rem;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
  transition: all 0.4s ease;
}
.navbar-toggler:hover{
  opacity: 0.7;
}
.navbar-collapse{
  overflow-y: scroll;
  display: none;
}
.navbar-nav > li > a{
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 700;
  display: block;
  padding: 0.6rem 0;
  margin: 0.2rem 0;
  border-bottom: 1px solid #ddd;
  border-radius: 1px;
  position: relative;
  transition: all 0.4s ease;
}
.drop-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.navbar-nav > li > a:hover{
  opacity: 0.7;
}
.sub-menu h4{
  text-transform: capitalize;
  font-size: var(--third-font);
  padding: 0.5rem 0;
}
.sub-menu ul li{
  text-transform: capitalize;
  padding: 0.2rem 0;
  margin: 0.2rem 0;
  font-size: 12px;
}

.sub-menu ul li a{
  opacity: 0.8;
  transition: all 0.5s ease;
}
.sub-menu ul li a:hover{
  padding-left: 14px;
  opacity: 0.9;
}
.sub-menu{
  display: none;
}

.sub-menu-item{
  padding-left: 4.2rem;
}

.sub-menu-item:nth-child(1) {
  width: 60%;
  margin: 0 auto;
  padding: 2rem 0;
}

.sub-menu-item:nth-child(2) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 0rem;
  padding-bottom: 2rem;
}

.sub-menu-item:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 0rem;
  padding-bottom: 2rem;
}
  
.sub-menu-item:nth-child(4) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 0rem;
  padding-bottom: 2rem;
}

.navbar-icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-icons a{
  padding: 0px 0.8rem;
}

.cart-img{
  width: 25px;
  height: 19px;
}

.cart-items {
  position: absolute;
  top: 30px;
  right: 4px;
  font-size: 13px;
  color: #222;
  padding: 0 5px;
  border-radius: 30%;
}

.store33{
  color: #810000 !important;
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}

.search-icon{
  border: none;
  height: 36px;
  width: 36px;
  border-radius: none;
  padding-left: 36px;
  background: url(../images/search.png) no-repeat 10px/16px;
  cursor: pointer;
  transition-property: width;
  transition-duration: 300ms;
}

.search-icon:focus{
  width: 200px;
  cursor: auto;
}

/* navbar end */

/* navbar media query start */
@media screen and (min-width: 1141px){
  .navbar{
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      background: none;
  }
  .navbar-toggler{
      display: none;
  }
  .brand-and-icon{
      flex: 0 0 100px;
      border-bottom: none;
      padding: 0;
  }
  .navbar-collapse{
      display: block!important;
      overflow-y: hidden;
      flex: 1 0 auto;
  }
  .navbar-nav{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .navbar-nav > li > a{
      border-bottom: none;
      margin: 0 0.4rem;
      padding: 1.7rem 1.8rem 1.7rem 0.8rem;
      font-size: 0.8rem;
  }
  .sub-menu{
      position: absolute;
      left: 0;
      width: 100%;
      top: 100%;
      background: #f8f8f8;
    }
  .navbar-nav > li:hover .sub-menu{
      display: grid!important;
      grid-template-columns: repeat(4, 1fr);
      padding: 0 0rem;
  }
  .navbar-nav > li{
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.4s ease;
  }
  .navbar-nav > li:hover{
      border-bottom-color: var(--forth-color);
  }
  .sub-menu-item{
      padding-left: 0;
  }
  .sub-menu-item:nth-child(3){
      padding-left: 2rem;
      padding-right: 2rem;
  }

  .search-wrapper{
      display: none;
  }
  
}

@media (max-width: 1140px) {

  .cart-btn {
      position: relative;
  }

  .search-icon{
      display: none;
  }

  .navbar-icons {
      display: none;
  }

  .search-wrapper{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
    .search-box-wrapper{
      width: 35%;
      height: 40px;
      padding: 10px;
      border: 1px solid #d1d1d1;
      text-transform: capitalize;
      background: none;
      color: #a9a9a9;
      outline: none;
    }
    .search-btn-wrapper{
      width: 20%;
      height: 40px;
      padding: 10px 20px;
      border: 1px solid #d1d1d1;
      outline: none;
      cursor: pointer;
      background: #fff;
      color: #000;
      text-transform: capitalize;
      font-size: 15px;
    }
    .search-box-wrapper::placeholder{
      color: #a9a9a9;
    }
    .icons-wrapper{
      display: flex;
      align-items: center;
    }
    .icons-wrapper a{
      margin-left: 20px;
      margin-right: 10px;
    }
    .icons-wrapper a .fa-user{
      font-size: 22px;
      cursor: pointer;
    }
    .icons-wrapper .cart-img img{
      width: 100px;
      height: 100px;
    }
    .navbar-nav .store33{
      color: #B80D1A;
    }

    .cart-items {
      position: absolute;
      top: 25px;
      right: 1.5px;
      font-size: 13px;
      color: #222;
      padding: 0 5px;
      border-radius: 30%;
  }

  .navbar-brand{
    display: none;
  }
}

/* navbar media query end */

/* section 1 start */

.slider-items{
  position: relative;
  width: 100%;
  height: 100%;
}

.slider-items video{
  width: 100%;
}

.sliderItem-info{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%,-50%);
}

.sliderItem-info h1{
  font-size: 2.5rem;
  letter-spacing: .5rem;
  font: bolder;
}

.sliderItem-info p{
  color: #f6f6f6;
}

.sliderItem-info h2{
  margin-top: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
}

.main-bar{
  position: absolute;
  top: 80%;
  left: 50%;
  text-align: center;
  transform: translate(-50%,-50%);
}

.main-bar ul{
  display: flex;
}

.main-bar ul li{
  padding: 0px 30px;
  list-style: none;
  font-size: var(--main-font);
  font-weight: var(--font-weight-bold);
}

.main-bar ul li a {
  color: var(--color-main-005);
  text-transform: capitalize;
}

.main-bar ul li a:hover{
  color: var(--main-font-color);
}

/* section 1 end */

/* section 1 media query start */

    @media(max-width: 426px){
        .slider .controls .next,
        .slider .controls .prev{
            top: 30%;
            width: 25px;
            height: 25px;
        }
        .slider .slider-items .item .img video{
            height: 45vh;
        }
    }
    @media(max-width: 376px){
        .slider .slider-items .item .img video{
            height: 55vh;
        }
    }
    @media (max-width: 426px) {
      .slider-items video{
        height: 100vh;
      }
      .main-bar{
        top: 60%;
      }
      .sliderItem-info h1{
        font-size: 20px;
        letter-spacing: 0;
      }
      .sliderItem-info p{
        font-size: 10px;
        letter-spacing: 0;
      }
      .sliderItem-info h2{
        font-size: 20px;
        margin-top: 1rem;
      }
      .main-bar ul li{
        font-size: 12px;
        padding: 0px 15px;
      }
    }
    @media (max-width: 376px) {
      .sliderItem-info{
        top: 45%;
      }
    }
    @media (max-width: 321px) {
      .sliderItem-info h1{
        font-size: 15px;
      }
      .sliderItem-info p{
        font-size: 10px;
      }
      .sliderItem-info h2{
        font-size: 16px;
      }
      .main-bar ul li{
        padding: 0px 10px;
      }
    }

/* section 1 media query end */

/* section 2 start */

.slide-container{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#slider{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.slide-thumbnail{
    flex: 0 0 auto;
    object-fit: cover;
    cursor: pointer;
    margin: 5px;
    overflow: hidden;
    transform: scale(.95);
    transition: all .3s;
}

.thumbnail-product .product-card{
    z-index: 1;
    position: relative;
    width: 300px;
    height: 450px;
    margin: 5px;
}

.thumbnail-product .product-card:hover{
  border: 1px solid #000;
}

.thumbnail-product .product-card .name {
    z-index: 2;
    color: #212121;
    position: relative;
    top: 81%;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 2px;
}

.thumbnail-product .product-card .name-detail{
  z-index: 2;
  color: #212121;
  position: relative;
  top: 81%;
  left: 0px;
  width: 100%;
  text-align: center;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 1px
}

.thumbnail-product .product-card .thumbnail-product-img {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.thumbnail-product-mini-container{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  top: 80%;
  /* display: none; */
  transition:all ease .3s;
}

.thumbnail-product .product-card:hover .thumbnail-product-mini-container{
  display: flex;
  transition:all ease .3s;
}

.thumbnail-product-mini{
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.thumbnail-product-mini img{
  width: 50px;
  height: 50px;
}

#slider::-webkit-scrollbar{
    overflow-x: hidden;
}

.container-carousel::-webkit-scrollbar{
    height: 3px;
    width: 2px;
    border: 1px solid #d5d5d5;
    background: #d5d5d5;
}

.container-carousel::-webkit-scrollbar-thumb{
    background-color: var(--third-color);
    outline: 1px solid #eee;
}

.slide-container .slide-right,
.slide-container .slide-left{
    font-size: 20px;
    position: absolute;
    z-index: 99;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.324);
}

.slide-container .slide-left{
    left: 0;
}
.slide-container .slide-right{
    right: 0;
}

.slide-container .slide-right:hover,
.slide-container .slide-left:hover{
    background-color: var(--third-color);
}

/* section 2 end */

/* section 2 media query start */



/* section 2 media query end */

/* section 3 start */

.container-pro-up{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.product-popup{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px 15px;
    max-width: 100%;
}
.product__list{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 250ms ease-in-out;
    margin-bottom: 2.5rem;
    width: 300px;
    height: 400px;
}

.product__img{
  max-width: 200px;
  max-height: 250px;
}

.product__viewBtn{
    cursor: pointer;
    position: absolute;
    text-align: center;
    opacity: 0;
    color: #000;
    background-color: #fff;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 5px 15px;
    width: 260px;
    transition: all ease 0.5s;
}

.product__list:hover .product__viewBtn{
    opacity: .5;
}
.product__list .product__viewBtn:hover{
    opacity: 1;
}

.product__list .name-product{
    z-index: 2;
      color: #212121;
      position: absolute;
      top: 100%;
      left: 0px;
      width: 100%;
      text-align: left;
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 2px;
}
  
.product__list .price{
    z-index: 2;
    color: #212121;
    position: absolute;
    top: 100%;
    right: 0px;
    width: 100%;
    text-align: right;
    bottom: 80px;
    font-size: 12px;
    font-weight: 300;
}
  
.product__list .product-category-name{
    z-index: 2;
    color: #212121;
    position: absolute;
    top: 105%;
    left: 0px;
    width: 100%;
    text-align: left;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 1px;
}

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    transition: all 250ms ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.modal__content{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 110vh;
    max-width: 960px;
    background-color: #f0f0f0;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-5%);
    transition: all 250ms ease-in-out;
    z-index: 99;
}

.modal__content--show{
    transform: translateY(-1);
    visibility: visible;
    opacity: 1;
    z-index: 9;
}

.modal__close{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #212527;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    z-index: 3;
}

.modal__close:hover{
    color: var(--third-color);
}

.modal__right .popup-brandName{
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
}
  
.modal__right .popup-collectonName{
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 20px;
    border-bottom: 1px solid #000;
    text-transform: capitalize
}
  
.modal__right .popup-product-detail{
    margin-bottom: 0;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
  
.modal__right .popup-price{
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: capitalize;
}
  
.modal__right .popup-price span{
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
}
  
.modal__right .popup-price::after{
    content: '$';
    font-size: 11px;
    font-weight: 500;
}
  
.modal__right .popup-moreInfo{
    column-count: 2;
    margin-top: 20px;
}
  
.modal__right .popup-moreInfo li{
    font-size: 11px;
    padding: 8px 0px;
}
  
.modal__right .popup-moreInfo li::marker{
    content: '.';
    font-size: 20px;
}
  
.modal__right .popup-availableSizes,
.popup-availableColor{
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 20px;
    text-transform: capitalize;
}
  
.modal__right .popup-sizes, .popup-colors-div{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: 10px 20px;
}
  
.modal__right .popup-sizes li{
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
}
  
.modal__right .popup-colors-div .availableColor{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    transition: .5s;
}

.modal__right .popup-buy{
    font-size: 15px;
    text-transform: capitalize;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 1px solid #000;
    padding: 5px 0px;
    width: 95%;
    cursor: pointer;
    color: #000;
    letter-spacing: 4px;
}  
.modal__right .popup-buy:hover{
    background-color: var(--third-color);
    color: #fff;
    transition: all ease .4s;  
}

.modal__left{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 100vh;
}

.gallery{
  width: 50%;
  text-align: center;
}

.modal__img{
    width: 80%;
    height: 80%;
}

.size-select{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.size-select p{
  width: 70px;
}

.size-select input{
  display: none;
}

.size-select span{
  padding: 5px;
  margin-right: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

/* .size-select input:checked + span{
  color: var(--third-color);
  font-weight: 600;
} */

.color-select{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.color-select p{
  width: 75px;
}

.color-select span{
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}

.color-select .color-1{
  background-color: red;
}
.color-select .color-2{
  background-color: blue;
}
.color-select .color-3{
  background-color: #ccc;
}
.color-select .color-4{
  background-color: black;
}

.color-select input{
  display: none;
}

/* .color-select input:checked + span{
  transform: scale(0.7);
  box-shadow: 0 0 0 4px #fff, 0 0 0 6px #000;
} */

.quantity-select{
  display: flex;
  align-items: center;
  margin: 20px 0 20px 0;
}

.quantity-select p{
  width: 75px;
}

.quantity-select input{
  background-color: #eee;
  border: none;
  outline: none;
  padding: 2px 2px 2px 15px;
  width: 50px;
}

.slider_controler{
  position: absolute;
  top: 92%;
  left: 18%;
}

.btn {
  background: #000;
  color: #fff;
  padding: 0.375rem 0.75rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 10px 15px;
  margin: auto;
  margin-top: 2.5rem;
  text-align: center;
  transition: all 0.3s linear;
  border-color: transparent;
  text-decoration: none;
  cursor: pointer;
}
.btn:hover {
  background: var(--third-btn-color);
}

/* section 3 end */

/* section 3 media query start */



/* section 3 media query end */

/* section accessories start */

.accessories-container{
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#810000, #000);
}

.accessories-area{
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accessories-area ul li{
  text-align: center;
  padding: 5px 0;
}

.accessories-area ul li::before{
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: -1;
  opacity: 0;
  transition: .5s;
}

.accessories-area li a{
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
}

.image-area{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 100%;
}

.image-area img{
  cursor: pointer;
  width: 80%;
  height: 80%;
}


/* section accessories end */

/* section minidiv start */

.maindiv{
    display: flex;
    position: relative;
    width: 100%;
    height: 80%;
    margin: auto;
    margin-top: 3rem;
}
  .slideshow-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.75s ease-in-out;
}

.text-collection{
    color: #f2f2f2;
    padding: 10px 12px;
    position: absolute;
    bottom: 15%;
    width: 100%;
    text-align: center;
    letter-spacing: 6px;
}
  
.text-collection h1{
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 20px;
}
  
.text-collection h4{
    font-weight: 200;
    font-size: 12px;
    letter-spacing: 4px;
    margin-top: -22px;
    margin-bottom: 45px;
}
  
.text-collection p{
    font-size: 13px;
}
  
.text-collection .more{
    display: flex;
    justify-content: center;
    align-items: center;
     margin-top: 35px;
}
  
.text-collection .more a{
    color: #fff;
    text-decoration:underline;
    padding: 0px 20px;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 6px;
}

/* section minidiv end */

/* section minidiv media query start */

@media(max-width: 426px){
    .text-collection h1{
        font-size: 30px;
    }

    @media(max-width: 321px){
        .text-collection .more{
            flex-direction: column;
        }

        .text-collection .more a:nth-child(1){
            margin-bottom: 10px;
        }
    }

}

/* section minidivmedia query end */

/* section 4 start */

.black-collection-container{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #000;
}

.black-collection{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.black-about-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.black-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100vh;
}

.black-image-container img{
    width: 100%;
    height: 85vh;
    margin: 20px;
}

.black-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 22px;
    width: 40%;
}

.black-text-container h1{
    text-transform: uppercase;
    color: var(--main-font-color);
    font-size: 25px;
    padding: 20px 0px;
}

.black-text-container p{
    color: #fff;
    font-size: 14px;
    text-align: center;
    width: 85%;
    font-weight: 300;
    padding: 20px 0px;
}

.black-text-container a{
    text-decoration: none;
    margin: 50px auto;
    transition: .3s all ease;
    z-index: 2;
    color: #000;
    background-color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 15px;
    cursor: pointer;
    text-align: center;
    width: 200px;
   }
   .black-text-container a:hover{
    color: var(--primary-color);
    background-color: var(--forth-btn-color);
}

/* section 4 end */

/* section 4 media query start */

@media(max-width: 768px){
    .black-about-container{
        flex-direction: column;
    }

    .black-image-container{
        width: 100%;
        height: 40vh;
    }
    
    .black-image-container img{
        width: 60vw;
        height: 35vh;
    }

    .black-text-container{
        width: 100%;
    }
}

@media(max-width: 426px){
    .black-about-container{
        height: 100vh;
    }

    .black-text-container h1{
        font-size: 16px;
    }
}

/* section 4 media query end */

/* section 5 start */

.wedding-collection-container{
    position: relative;
    width: 100%;
    height: 100vh;
    /* background-color: #ccc; */
}

.wedding-collection{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.wedding-about-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.wedding-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
}

.wedding-image-container video{
    width: 100%;
    height: 85vh;
    margin: 20px;
}

.wedding-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 22px;
    width: 40%;
}

.wedding-text-container h1{
    text-transform: uppercase;
    color: var(--main-font-color);
    font-size: 25px;
    padding: 20px 0px;
}

.wedding-text-container p{
    color: #000;
    font-size: 14px;
    text-align: center;
    width: 85%;
    font-weight: 300;
    padding: 20px 0px;
}

.wedding-text-container a{
    text-decoration: none;
    margin: 50px auto;
    transition: .3s all ease;
    z-index: 2;
    color: #fff;
    background-color: #000;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 15px;
    cursor: pointer;
    text-align: center;
    width: 200px;
   }
   .wedding-text-container a:hover{
    color: var(--primary-color);
    background-color: var(--forth-btn-color);
}

/* section 5 end */

/* section 5 media query start */

@media(max-width: 768px){
    .wedding-about-container{
        flex-direction: column;
    }

    .wedding-image-container{
        width: 100%;
        height: 40vh;
    }
    
    .wedding-image-container video{
        width: 60vw;
        height: 35vh;
    }

    .wedding-text-container{
        width: 100%;
    }
}

@media(max-width: 426px){
    .wedding-about-container{
        height: 100vh;
    }

    .wedding-text-container h1{
        font-size: 16px;
    }
}

/* section 5 media query end */

/* <!--=============== MULTI PAGE START ===============--> */

.multi-container {
  width: 90vw;
  display: grid;
  grid-gap: 1rem;
  margin: 6rem auto;
  max-width: 1170px;
  position: relative;
}

.filters-container {
  top: 1rem;
}

.filters-filter{
  text-align: center;
  width: 100%;
  background-color: #fff;
  cursor: pointer;
  display: none;
}

.search-input {
  padding: 0.5rem;
  background: hsl(210, 36%, 96%);
  border-radius: 0.25rem;
  border-color: transparent;
  letter-spacing: 0.1rem;
}
.search-input::placeholder {
  text-transform: capitalize;
}
.company-btn {
  display: block;
  margin: 0.25em 0;
  padding: 0.25rem;
  text-transform: capitalize;
  background: transparent;
  border-color: transparent;
  letter-spacing: 0.1rem;
  color: hsl(210, 22%, 49%);
  cursor: pointer;
  transition: all 0.3s linear;
}
.company-btn:hover {
  color: hsl(209, 34%, 30%);
}
.price-filter {
  background: hsl(210, 22%, 49%) !important;
  color: hsl(210, 22%, 49%);
}

.filter-block{
  border-bottom: 1px solid #999;
}

.filter-block h4{
  font-size: 1.25em;
  margin-bottom: 0.5em;
}

.filter-block li{
  display: flex;
  font-size: 0.9em;
  position: relative;
  line-height: 2;
}

.filter-block input{
  display: none;
}

.filter-block label .checked{
  width: 16px;
  height: 16px;
  position: relative;
  line-height: 0;
  display: inline-block;
  border: 2px solid #000;
  vertical-align: text-top;
  margin: 0 7px 0 0;
  cursor: pointer;
}

.filter-block label .checked::before{
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #333;
  top: 2px;
  left: 2px;
  opacity: 0;
}

.filter-block input:checked + label .checked::before{
  opacity: 1;
}

.filter-block li .count{
 margin-left: auto;
 color: #810000; 
}

@media (max-width: 768px) {
  .filters-filter{
    display: block;
  }
  .filters-container{
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .multi-container {
    grid-template-columns: 200px 1fr;
  }
  .categories {
    position: sticky;
    top: 1rem;
  }
}
@media (max-width: 992px) {
  .multi-container .product__list{
    width: auto;
  }
}
@media screen and (min-width: 992px) {
  .products-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .products-container .product-img {
    height: 10rem;
  }
  .products-container .product-name {
    font-size: 0.85rem;
  }
  .products-container .product-price {
    font-size: 0.85rem;
  }
}
@media screen and (min-width: 1170px) {
  .products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}  

/* <!--=============== MULTI PAGE END ===============--> */

/* <!--=============== LOGIN & SUGNUP START ===============--> */

/* Login start */

.container-register {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.forms-container {
  width: 100%;
  height: 100%;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

.signin-signup a{
  font-size: 10px;
  color: #222;
  text-decoration: none;
  margin: 10px 0;
}

.sign-up-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.sign-in-form {
  z-index: 2;
}

.title-register {
  font-weight: 300;
  line-height: 1;
  font-size: 1.5rem;
}

.input-field-register {
  width: 85%;
  margin: 10px 0;
  height: 55px;
  display: grid;
  padding: 0 0.4rem;
  position: relative;
}

.input-field-register input{
  border: none;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
  border-bottom: 1px solid #000;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
  font-size: 12px;
}

.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
  margin-top: 1rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 11rem 3rem;
}

.panel .content-register {
  color: #000;
}

.panel h3 {
  font-weight: 300;
  line-height: 1;
  font-size: 1.5rem;
  margin-bottom: 5rem;
}

.panel p {
  font-size: 14px;
  padding: 0.7rem 0;
  margin-bottom: 5rem;
  font-weight: 300;
}

.btn-register.transparent {
  text-decoration: none;
  background: none;
  color: #585858;
  border: 2px solid #ababab;
  padding: 10px 30px;
  font-weight: 600;
  font-size: 0.8rem;
  margin: 10px 0;
}

/* Login end */

/* sign up start */

.signup {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
  margin: 0 auto;
}

.signUp-title {
  font-weight: 300;
  line-height: 1;
  font-size: 1.5rem;
}

.signUp-input-field {
  width: 85%;
  margin: 10px 0;
  height: 55px;
  display: grid;
  padding: 0 0.4rem;
  position: relative;
}

.signUp-input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
  border-bottom: 1px solid #000;
}

.signUp-input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
  font-size: 12px;
}

.signUpBtn.transparent {
  text-decoration: none;
  margin: 0;
  background: none;
  color: #222;
  border: 2px solid #000;
  padding: 10px 30px;
  font-weight: 600;
  font-size: 0.8rem;
  margin: 10px 0;
}

.additional{
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.additional input{
  width: 15px;
  height: 15px;
}

.additional label{
  font-size: 9px;
  letter-spacing: 1px;
}

/* sign up end */

/* <!--=============== LOGIN & SUGNUP END ===============--> */

/* footer start */
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}

.footer{
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #000;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--main-font-color);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 12px;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	color: #787878;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #000;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.form-img{
  width: 100%;
}
.content{
  z-index: 999;
  text-align: center;
  width: 280px;
}
.content header{
  color: white;
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 35px 0;
}
.field{
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  background: rgba(255,255,255,0.94);
}
.field span{
  color: #222;
  width: 40px;
  line-height: 45px;
}
.field input{
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #222;
  font-size: 16px;
}
.space{
  margin-top: 16px;
}
.show{
  position: absolute;
  right: 13px;
  font-size: 13px;
  font-weight: 700;
  color: #222;
  display: none;
  cursor: pointer;
}
.pass-key:valid ~ .show{
  display: block;
}
.pass{
  text-align: left;
  margin: 10px 0;
}
.pass:hover a{
  text-decoration: underline;
}
.field input[type="submit"]{
  background: rgba(0, 0, 0, 0.582);
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
}
.field input[type="submit"]:hover{
  background: rgba(0, 0, 0, 0.61);
}
.login{
  margin: 20px 0;
}
.links{
  display: flex;
  cursor: pointer;
  color: white;
  margin: 0 0 20px 0;
}
.facebook{
  width: 100%;
  height: 45px;
  line-height: 45px;
  margin-left: 10px;
  color: rgb(58, 58, 233);
}
.google{
  width: 100%;
  height: 45px;
  line-height: 45px;
  margin-left: 10px;
  color: red;
}
.facebook:hover,.google:hover{
  opacity: .8;
}
.links i{
  font-size: 17px;
}
i span{
  margin-left: 8px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 16px;
}
.signup{
  font-size: 15px;
}
.signup a:hover{
  text-decoration: underline;
}

.email-form{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	letter-spacing: 2px;
  padding-bottom: 5rem;
}

.email-form h1{
	margin-bottom: 40px;
	font-size: 42px;
	color: #000;
  font-weight: 300;
}

.email-form p{
	margin-bottom: 40px;
	color: #b2b2b2;
	font-size: 16px;
    text-align: center;
}

.newsletter{
	max-width: 90%;
	width: 100%;
	position: relative;
}

.newsletter .input{
	width: 100%;
	padding: 30px 100px 30px 60px;
	border-radius: 5px;
	border: none;
	font-weight: bold;
}

.newsletter .fas{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);	
	left: 20px;
	font-size: 20px;
}

.newsletter .btn{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	padding: 31px 40px;
	font-size: 12px;
	letter-spacing: 5px;
	text-transform: uppercase;
  background: none;
  color: var(--secondray-color);
  opacity: .9;
  cursor: pointer;
  border: none;
}
.newsletter .btn:hover{
  opacity: 1;
}
/* footer end */

/* footer media query start */

@media (max-width: 1200px){
    .content{
      width: 222px;
    }
 }
@media (max-width: 965px){
    .content{
      width: 150px;
    }
    .links{
      display: block;
    }
}
@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
    }
    .email-form h1{
      font-size: 20px;
    }
}
@media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
}
@media(max-width: 425px){
    .email-form h1{
      font-size: 20px;
    }
    .newsletter .btn{
      padding: 10px 10px;
      font-size: 10px;
    }
}

/* footer media query start */

/* <!--=============== COLLECTION ===============--> */

/* minitext start */

#mini-title-container{
    text-align: center;
    margin-top: 5rem;
}
.mini-title{
    font-weight: 300;
    font-size: 28px;
}
#mini-title-container p{
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
  
#mini-title-container.active p{
    display: block;
    width: 70%;
    margin: auto;
}
  
 #mini-title-container.active #span::before{
    content: 'read less';
}
  
#mini-title-container #span{
    cursor: pointer;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #000;
    background-color: #fff;
    width: 280px;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 15px;
}
#mini-title-container #span::before{
    content: 'read more';
}

/* minitext end */

/* section 4 start */

.banner {
    width: 100%;
    height: 100vh;
    /* padding: 124px 60px 80px; */
    background: #f9f9f9;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(./images/no-revisions-kWVImL5QxJI-unsplash.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}
  
  
.banner-text{
    color: #fff;
    background: #000000ba;
    text-align: center;
    height: 80vh;
    width: 50%;
    margin: auto;
}

.banner-text-info{
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    display: flex;
    position: relative;
}
  
.banner-image{
    width: 45%;
    height: 90vh;
}
  
.banner-text h3 {
    font-family: 'Open Sans';
    font-size: 27px;
    margin: 22px;
    font-weight: 200;
}
  
.banner-text p {
    margin: 40px;
    font-weight: 200;
    font-size: 16px;
    line-height: 1.5rem;
}
.banner-text h6 {
    margin-top: -23px;
    font-weight: 200;
    font-size: 12px;
    letter-spacing: 4px;
}
  
.banner-text a{
    font-size: 15px;
    padding: 8px 18px;
    color: #ffffff;
    text-decoration: underline;
}
  
.banner-image img {
    width: 90%;
    height: 90vh;
}

/* section 4 end */

/* section media query start */

@media(max-width: 768px){  
.banner-text{
      height: 65vh;
    }
  
.banner-image{
      height: 65vh;
    }
  
.banner-image img{
      height: 65vh;
    }
}

@media(max-width: 426px){

    .banner-text{
        width: 90%;
    }

    .banner-image{
        display: none;
    }
}

/* section media query end */